.astroBox {
  background-color: rgb(91, 80, 115);
  width: 50%;
  padding: 40px;
  margin-top: 5%;
  text-align: center;
  margin-bottom: 20%;
  color: white;
  font-size: 24px;
  border-radius: 5px;
  font-family: monospace;
  display: flex;
  flex-direction: column;
}

.zodiacWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.zodiacContainer {
  padding: 10px;
  background-color: beige;
  width: 200px;
  margin: 50px;
}

.astroHeadline {
  color: rgb(227, 136, 136);
}

.imageFrame img {
  padding: 4px;
  background-color: white;
  margin-bottom: 30px;
  width: 250px;
}
