.astroBox {
  background-color: rgb(129, 120, 149);
  width: 50%;
  padding: 40px;
  text-align: center;
}

.zodiacWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.zodiacContainer {
  padding: 10px;
  background-color: beige;
  width: 200px;
  margin: 50px;
}
