.zodiacContainer {
  padding: 10px;
  background-color: #5b5073;
  width: 200px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 180px;
}

.link {
  color: white;
  font-size: 20px;
}
