.App {
  text-align: center;
}

body {
  background-color: black;
}

.startPageSection {
  background-image: url("/public/images/skybackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100wv;
}

.test {
  height: 430px;
}
